html, body, #root {
    height: 100%;
}

.demo-logo {
    width: 120px;
    height: 24px;
    margin-right: 16px;
    background: rgba(255,255,255) url("@/assets/CrescentLogo.svg") no-repeat center/contain;
    border-radius: 4px;
}

.hajimi{
    width: 200px;
    height: 200px;
    background: rgba(255,0,0)
}