<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiSpider.mapper.SpiderResultMapper">

    <resultMap id="BaseResultMap" type="com.multiSpider.entity.SpiderResult">
            <id property="id" column="id" />
            <result property="taskId" column="task_id" />
            <result property="title" column="title" />
            <result property="url" column="url" />
            <result property="source" column="source" />
            <result property="keywords" column="keywords" />
            <result property="dateTime" column="date_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,title,url,source,summary,
        created_at
    </sql>
    <select id="countDateResult" resultType="com.multiSpider.vo.DateData">
    SELECT
        DATE(date_time) AS date,
        COUNT(*) AS count
    FROM
        spider_result
    GROUP BY
        DATE(date_time)
    ORDER BY
        date;
    </select>
</mapper>
